<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Local Movie Database</title>
    <link href="../_resources/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../_resources/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <link href="../_resources/sortable-theme-minimal.css" rel="stylesheet" />
    <script src="../_resources/sortable.min.js" type="text/javascript"></script>
  </head>
  <body role="document">
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">List of Content <span class="badge">{{ movie_list|length }}</span></a></li>
            <li><a href="./filter.html">Filter Results <span class="badge">{{ movie_list|length }}</span></a></li>
            <li><a href="./about.html">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container theme-showcase" role="main" style="margin-top:80px; margin-left:auto; margin-right:auto;">
      <div style="width:100%">
        <table class="table table-striped" data-sortable>
          <thead>
            <tr>
              <th data-sorted="true">Rating</th>
              <th>Title</th>
              <th>Year</th>
              <th data-sortable="false">Genre(s)</th>
              <th data-sortable="false">Cast</th>
              <th>Director</th>
              <th>Language</th>
            </tr>
          </thead>
          <tbody>
            {% for movie in movie_list %}
              <tr>
                <td>{{ movie.rating }}</td>
                <td><a href="{{movie.title}}({{movie.year}}).html">{{ movie.title }}</a></td>
                <td>{{ movie.year }}</td>
                {% if movie.genre|length > 0 %}
                  <td>{{ movie.genre }}</td>
                {% else %}
                  <td></td>
                {% endif %}
                {% if movie.stars|length > 0 %}
                  <td>{{ movie.stars }}</td>
                {% else %}
                  <td></td>
                {% endif %}
                <td>{{ movie.director }}</td>
                {% if movie.languages|length > 0 %}
                  <td>{{ movie.languages }}</td>
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
