<!DOCTYPE html>
<html lang="en" style="background-color:#EEE">
  <head>
    <title>Local Movie Database</title>
    <link href="../../_resources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../_resources/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../../_resources/css/common.css" rel="stylesheet" type="text/css" />
    <script src="../../_resources/js/jquery-2.1.4.min.js"></script>
    <script src="../../_resources/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  </head>
  <body role="document" class="title-body">

    <div class="container theme-showcase" role="main" style="margin:0px; padding:0px; width:100%">
      <div id="title_content" class="jumbotron">

        <h2 class="title-title"> {{movie.title}} ({{movie.year}}) </h2>
          
        <span style="vertical-align:top">
          <a href="../images/{{movie.filename}}.png">
            <img data-src="holder.js/200x200" class="img-thumbnail title-image" alt="200x200" src="../images/movies/{{movie.filename}}.png">
          </a>
        </span>
        
        <span id="title-header">

          <div class="form-group">
            <span id="star">&#9733; </span>
            <h4 id="item-rating"><b> {{movie.rating}} / 10</b> ({{movie.votes}} votes) </h4>
          </div>

          <div style="margin-left:10px">
            <h5>
              <span id="item-content-rating">
                {% if movie.content_rating is string %} 
                  {{movie.content_rating}}
                {% else %}
                  {{movie.content_rating[0]}}
                {% endif %}
              </span> &mdash;
              <span id="item-running-time">{{movie.running_time}}</span> &mdash;
              <span style="margin-left:10px">
                {% for item in movie.genre %} <span style="margin-right:10px">{{item}}</span> {% endfor %}</h5>
              </span>
          </div>

          <h4 style="padding-top:10px">Cast:</h4>
          <div style="margin-left:10px">
            {% for item in movie.stars %}
              <h5 style="font-weight:400"> {{item}} </h5>
            {% endfor %}
          </div>

          <h4 style="padding-top:10px">Languages:</h4>
          <div style="margin-left:10px;">
            {% for item in movie.languages %}
              <h5 class="title-language"> {{item}} </h5>
            {% endfor %}
          </div>
        </span>
        <hr>
        
        {% if movie.has_key('awards') %}
          {% if movie.has_key('awards_link') %}
            <div id="item-awards">
              <a target="_blank" href="{{ movie.awards_link }}">{{ movie.awards}}</a>
            </div>
          {% elif movie.awards|length > 0 %}
            <div id="item-awards">
              {{ movie.awards }}
            </div>
          {% endif %}
        {% endif %}
        
        <div id="item-description">
          <p> {{movie.description}} </p>
        </div>
        <p id="title-url"><a href="{{movie.url}}" target="_blank">Go to IMDB</a></p>
        <div id="data-retrieved">
          Data Retrieved: {{movie.info_retrieved}}
        </div>
      </div>
    </div>
  </body>
</html>
