<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Local Movie Database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link href="../../_resources/css/common.css" rel="stylesheet" type="text/css" />
    <script src="../../_resources/js/series.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  </head>
  <body role="document" class="title-body">

    <div class="" role="main" style="padding:10px; width:100%">
      <div id="title_content" class="jumbotron">

        <h2 class="title-title"> {{series.title}} ({{series.year}}) </h2>
        {% if series.alternative_title %}
        <div><b>Alternative Title : </b> {{ series.alternative_title }}</div>
        {% endif %}

        <span style="vertical-align:top">
          <a href="../images/series/{{series.directory.name}}.png">
            <img data-src="holder.js/200x200" class="img-thumbnail title-image" alt="200x200" src="../images/series/{{series.directory.name}}.png">
          </a>
        </span>

        <span id="title-header">
          <div>
            <span id="star">&#9733; </span>
            <h4 id="item-rating" style="font-size:1.25rem"><b> {{series.rating}} / 10</b> ({{series.votes}} votes) </h4>
          </div>

          <div style="margin-left:10px">
            <h5 style="border: 1px solid #AAA; border-radius:5px; padding:10px; font-size: 0.8rem; background-color: black;color: white;">
              {% if not series.content_rating %}
              {% elif series.content_rating is string %}
                <span id="item-content-rating">
                  {{series.content_rating}}
                </span> -
              {% else %}
                <span id="item-content-rating">
                  {{series.content_rating[0]}}
                </span> -
              {% endif %}

              {% if series.running_time %}
              <span id="item-running-time">{{series.running_time}}</span> -
              {% endif %}

              {% if series.genre %}
              <span style="margin-left:10px">
                {% for item in series.genre %} <span style="margin-right:10px">{{item}}</span> {% endfor %}</h5>
              </span>
              {% endif %}
          </div>

          <h4 style="padding-top:25px">Cast:</h4>
          <div style="margin-left:10px">
            {% for item in series.stars %}
              <h5 style="font-weight:400"> {{item}} </h5>
            {% endfor %}
          </div>

          {% if series.languages %}
          <h4 style="padding-top:25px">Languages:</h4>
          <div style="margin-left:10px;">
            {% for item in series.languages %}
              <h5 class="title-language"> {{item}} </h5>
            {% endfor %}
          </div>
          {% endif %}
        </span>

        <hr>
        <div id="item-description">
          <p> {{series.description}} </p>
        </div>
        <p id="title-url"><a href="{{series.url}}" target="_blank">Go to IMDB</a></p>

        <hr>
        <div style="margin-bottom:30px">
          {% for season in series.episodes %}
          <div class="season-header" onclick="toggle_visibility('season-{{loop.index}}-container')">
            Season {{season.keys()[0] | seasonnumber}}
          </div>
            <div class="season-container" id="season-{{loop.index}}-container" style="display:none">
              {% for episode in season | sort %}
                <div class="episode-container">
                  {{episode}}
                  {% if season and season[episode] and 'resolution' in season[episode] %}
                    <span class="badge badge-secondary">{{season[episode].resolution}}</span>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>

        <div id="data-retrieved">
          <div>Data Retrieved: {{series.info_retrieved}}</div>
          <div>Directory Name: &quot;{{series.directory.name}}&quot;</div>
        </div>
      </div>
    </div>
  </body>
</html>
