<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Local Movie Database</title>
    <link href="../_resources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../_resources/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../_resources/css/sortable-theme-minimal.css" rel="stylesheet" type="text/css" />
    <link href="../_resources/css/common.css" rel="stylesheet" type="text/css" />
    <link href="../_resources/favicon.png" rel="shotcut icon" type="image/png"/>
    <script src="../_resources/js/jquery-2.1.4.min.js"></script>
    <script src="../_resources/js/bootstrap.min.js"></script>
    <script src="../_resources/js/sorttable.min.js" type="text/javascript"></script>
    <script src="../_resources/js/common.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body role="document">
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="./index.html">Movies
              <span class="badge">
                <span>{{ number_of_movies }}</span>
              </span>
            </a></li>
 	          <li class="active"><a href="./series.html">Series
              <span class="badge">
                <span id="results_num" style="display:none">{{ series_list|length }}</span>
                <span id="mv_seperator" style="display:none"> / </span>
                <span id="total_num">{{ series_list|length }}</span>
              </span>
            </a></li>
            <!--<li><a href="./documentaries.html">Documentaries <span class="badge"></span></a></li>-->
            <li><a href="./about.html">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container theme-showcase body-container" role="main">

      <!-- Filters -->
      <div id="filters" class="jumbotron filter-container">
          <div class="filter-section">
            <h4 class="filter-left">Title:</h4>
            <h4 class="clear-filter" onclick="clear_filter('title-search'); search_series_table(results)">X</h4>
            <input class="form-control filter-right" id="title-search" type="text" onkeyup="search_series_table(results)" spellcheck="false">
          </div>
          <div class="filter-section">
            <h4 class="filter-left">Rating (Min):</h4>
            <h4 class="clear-filter" onclick="clear_filter('rating-search'); search_series_table(results)">X</h4>
            <input class="form-control filter-right" id="rating-search" type="text" onkeyup="search_series_table(results)" spellcheck="false">
          </div>
          <div class="filter-section">
            <h4 class="filter-left">Votes (Min):</h4>
            <h4 class="clear-filter" onclick="clear_filter('vote-search'); search_series_table(results)">X</h4>
            <input class="form-control filter-right" id="vote-search" type="text" onkeyup="search_series_table(results)" spellcheck="false">
          </div>
          <div class="filter-section">
              <h4 class="filter-left">Start Year (Min):</h4>
              <h4 class="clear-filter" onclick="clear_filter('year-min-search'); search_series_table(results)">X</h4>
              <input class="form-control filter-right" id="year-min-search" type="text" onkeyup="search_series_table(results)" spellcheck="false">
          </div>
          <div class="filter-section">
              <h4 class="filter-left">End Year (Max):</h4>
              <h4 class="clear-filter" onclick="clear_filter('year-max-search'); search_series_table(results)">X</h4>
              <input class="form-control filter-right" id="year-max-search" type="text" onkeyup="search_series_table(results)" spellcheck="false">
          </div>
          <div class="filter-section">
            <h4 class="filter-left">Genre:</h4>
            <h4 class="clear-filter" onclick="clear_filter('genre-search'); search_series_table(results)">X</h4>
            <input class="form-control filter-right" id="genre-search" type="text" onkeyup="search_series_table(results)" spellcheck="false">
          </div>
          <div class="filter-section">
            <h4 class="filter-left">Cast:</h4>
            <h4 class="clear-filter" onclick="clear_filter('cast-search'); search_series_table(results)">X</h4>
            <input class="form-control filter-right" id="cast-search" type="text" onkeyup="search_series_table(results)" spellcheck="false">
          </div>
          <div class="filter-section">
            <h4 class="filter-left">Language:</h4>
            <h4 class="clear-filter" onclick="clear_filter('language-search'); search_series_table(results)">X</h4>
            <input class="form-control filter-right" id="language-search" type="text" onkeyup="search_series_table(results)" spellcheck="false">
          </div>
      </div>

      <!-- Show / Hide filter toggle -->
      <div id="filter_toggle">
        <button id="filter_toggle_btn" class="btn btn-small" onclick="filter_toggle()">
          Hide Search Filters
        </button>
      </div>
      <div id="random_selection">
        <button id="random_selection_btn" class="btn btn-small" onclick="random_selection()">
          Choose Random from Selection
        </button> 
      </div>

      <!-- Results Table -->
      <div style="width:100%">
        <table id="results" class="table table-striped sortable" data-sortable>
          <thead>
            <tr onclick="stripe_table()">
              <th name="rating_data" style="vertical-align:top" class="sorttable_numeric">Rating</th>
              <th name="vote_data" style="vertical-align:top; display:none" class="sorttable_numeric">Votes</th>
              <th style="vertical-align:top" class="sorttable_alpha">Title</th>
              <th name="year_data" style="vertical-align:top" class="sorttable_alpha">Years</th>
              <th name="genre_data" style="vertical-align:top">Genres</th>
              <th name="stars_data" style="vertical-align:top">Stars</th>
              <th name="lang_data" style="vertical-align:top; display:none">Languages</th>
            </tr>
          </thead>
          <tbody>
            {% for series in series_list %}
              <tr>
                <td name="rating_data">{{ series_list[series].rating }}</td>
                <td name="votes_data" style="display:none">{{ series_list[series].votes }}</td>
                <td sorttable_customkey="{{ series_list[series].title }}">
                  <a href="#./series/{{series_list[series].title|replace("/", "")|replace("?", "%3F")|replace("'", "%27")}}({{series_list[series].year[0:4]}}).html" onclick="load_details(this)"
                    {% if series_list[series].has_key('alternative_title') %}
                      title="{{ series_list[series].alternative_title|replace('\"', '') }} (Alternative Title)"
                    {% endif %}
                  >
                    {{ series_list[series].title }}
                  </a>
                  <!-- ' -->
                </td>
                <td name="year_data">{{ series_list[series].year }}</td>
                <td name="genre_data">{{ series_list[series].genre|join(', ') }}</td>
                <td name="stars_data">{{ series_list[series].stars|join(', ') }}</td>
                <td name="langauges_data" style="display:none">{{ series_list[series].languages|join(', ') }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Modal: Asset Content-->
    <div id="backdrop" style="display:none" onclick="close_details()">
      <div id="modal-alert" class="centered" tabindex="-1" role="dialog" style="display:none;">
        <div id="modal-content" class="modal-content; height:100%">
        </div>
      </div>
    </div>

  </body>
</html>
