<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Local Movie Database</title>
    <link href="../../_resources/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../_resources/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../../_resources/css/common.css" rel="stylesheet" type="text/css" />
    <script src="../../_resources/js/jquery-2.1.4.min.js"></script>
    <script src="../../_resources/js/bootstrap.min.js"></script>
    <script src="../../_resources/js/series.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  </head>
  <body role="document" class="title-body">

    <div class="container theme-showcase" role="main" style="margin:0px; padding:0px; width:100%">
      <div id="title_content" class="jumbotron">

        <h2 class="title-title"> {{series.title}} ({{series.year}}) </h2>
        {% if series.alternative_title %}
        <div><b>Alternative Title : </b> {{ series.alternative_title }}</div>
        {% endif %}

        <span style="vertical-align:top">
          <a href="../images/series/{{series.directory.name}}.png">
            <img data-src="holder.js/200x200" class="img-thumbnail title-image" alt="200x200" src="../images/series/{{series.directory.name}}.png">
          </a>
        </span>

        <span id="title-header">
          <div>
            <span id="star">&#9733; </span>
            <h4 id="item-rating"><b> {{series.rating}} / 10</b> ({{series.votes}} votes) </h4>
          </div>

          <div style="margin-left:10px">
            <h5>
              {% if not series.content_rating %}
              {% elif series.content_rating is string %}
                <span id="item-content-rating">
                  {{series.content_rating}}
                </span> &mdash;
              {% else %}
                <span id="item-content-rating">
                  {{series.content_rating[0]}}
                </span> &mdash;
              {% endif %}

              {% if series.running_time %}
              <span id="item-running-time">{{series.running_time}}</span> &mdash;
              {% endif %}

              {% if series.genre %}
              <span style="margin-left:10px">
                {% for item in series.genre %} <span style="margin-right:10px">{{item}}</span> {% endfor %}</h5>
              </span>
              {% endif %}
          </div>

          <h4 style="padding-top:10px">Cast:</h4>
          <div style="margin-left:10px">
            {% for item in series.stars %}
              <h5 style="font-weight:400"> {{item}} </h5>
            {% endfor %}
          </div>

          <h4 style="padding-top:10px">Languages:</h4>
          <div style="margin-left:10px;">
            {% for item in series.languages %}
              <h5 class="title-language"> {{item}} </h5>
            {% endfor %}
          </div>
        </span>

        <hr>
        <div id="item-description">
          <p> {{series.description}} </p>
        </div>
        <p id="title-url"><a href="{{series.url}}" target="_blank">Go to IMDB</a></p>

        <hr>
        <div style="margin-bottom:30px">
          {% for season in series.episodes %}
          <div class="season-header" onclick="toggle_visibility('season-{{loop.index}}-container')">
            Season {{loop.index}}
          </div>
            <div class="season-container" id="season-{{loop.index}}-container" style="display:none">
              {% for episode in season %}
                <div class="episode-container">
                  {{episode}}
                  {% if season and season[episode] and 'resolution' in season[episode] %}
                    <span class="badge">{{season[episode].resolution}}</span>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>

        <div id="data-retrieved">
          <div>Data Retrieved: {{series.info_retrieved}}</div>
          <div>Directory Name: &quot;{{series.directory.name}}&quot;</div>
        </div>
      </div>
    </div>
  </body>
</html>
