.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -webkit-transform: translate(-50%,-50%); /* Chrome, Safari, Opera */
}
.heading_spacer{
  padding-left:10px;
}
.badge{
  margin-left:6px;
}

/* DOM Elements */
h4, .h4 {
  font-size: 15px;
}
hr{
   border-color:#CCC;
}

.body-container{
  margin-top:80px;
  margin-left:auto;
  margin-right:auto;
  max-width:1200px;
}
.title-body{
  background-color:#EEE;
}
#navbar{
  margin-left:auto;
  margin-right:auto;
  max-width:1200px;
}
#backdrop{
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:5;
}
#results{
  margin-bottom:50px;
}
#modal-alert{
  z-index:11;
  max-width:800px;
  width:100%;
  max-height:80%;
  height:580px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.modal-content{
  -webkit-overflow-scrolling: touch !important;
  overflow: scroll !important;
  max-height:80%;
}
.title-image{
  width:200px;
  height:300px;
  vertical-align:top;
  margin-top:10px;
}

/* Filters */
#filters{
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
}
#filter_toggle{
  width:100%;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
}
#filter_toggle_btn{
  padding-left:45px;
  padding-right:45px;
  background-color:#444;
  margin-bottom:10px;
  color:white;
  width:280px;
}
.filter-container{
  margin-bottom:15px;
  display:visible;
  padding-top:20px;
  padding-bottom:20px;
}
.filter-section{
  width:100%;
  display:inline-block;
}
.clear-filter{
  top:7px;
  height:14px;
  margin-left:-25px;
  font-size:20px;
  cursor:pointer;
  color:#666;
}
.clear-filter:hover{
  color:red;
}
.input-group-addon{
  border:none;
  background-color:transparent;
}
#random_selection{
  width:100%;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:20px;
}
#random_selection_btn{
  background-color:#444;
  color:white;
  margin-bottom:30px;
  width:280px;
}

/* Tables */
.table-striped > tbody > tr > td.stripe-on{
  background-color: #F9F9F9;
}
.table-striped > tbody > tr > td.stripe-off{
  background-color: #FFFFFF;
}
#table_header{
  color:white;
  background-color:#333;
}
.scalable_table{
  word-wrap:break-word;
  max-width:none;
}

/* Individual Title Page */
#item-description{
  padding:10px;
}
#data-retrieved{
  margin-top:5px;
  font-size:12px;
  text-align:center;
}
#item-content-rating{
  margin-right:10px;
  padding-left:4px;
  padding-right:2px;
  border:1px #AAA solid;
  border-radius:2px;
}
#item-running-time{
  margin-left:10px;
  margin-right:10px;
}
#star{
  display:inline-block;
  color:orange;
  font-size:30px;
  margin-left:10px;
  vertical-align:middle;
}
#item-rating{
  display:inline-block;
  vertical-align:middle;
}
#item-awards{
  padding-top:4px;
  padding-bottom:4px;
  margin-top:-10px;
  border-radius:4px;
  background-color: #EFE3A4;
  text-align: center;
}
#title_content{
  max-width:800px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  margin-bottom:0px;
}
#title-header{
  display:inline-block;
  padding-left:30px;
  margin-top:5px;
}
#title-title{
  margin-left:5px;
}
#title-url{
  text-align:center;
}
.title-language{
  font-weight:400;
}

